.homeLink{
    text-decoration: none;
    padding: 8px;
    color: #FFFFFF8C;
}

.auth-cont{
    position: relative;
}

.auth-link{
    padding: 8px;
    color: #FFFFFF8C;
    background-color: transparent;
    border: none;
}

.auth-menu{
    position: absolute;
    width: 50px;
    padding: 4px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background-color: white;
    left: 40px;
    bottom: -65px;
    z-index: 100;
}

.menu-link{
    text-decoration: none;
    color: black;

}