.pop-up{
    position: fixed;
    top: calc((100vh - 590px)/2);
    left: calc((100vw - 450px)/2);
    height: 590px;
    width: 450px;
    background-color: rgba(0, 0, 255, 0.7);
    border: 1px solid white;
    border-radius: 5px;

}

.button-close{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.card-write{
    color: white;
}